@model Host.UI.Consent.ScopeViewModel

<li class="list-group-item">
    <label>
        <input class="consent-scopecheck" 
               type="checkbox" 
               name="ScopesConsented" 
               id="scopes_@Model.Name" 
               value="@Model.Name"
               checked="@Model.Checked" 
               disabled="@Model.Required" />
        <input show-if="@Model.Required"
               type="hidden"
               name="ScopesConsented"
               value="@Model.Name" />
        <strong>@Model.DisplayName</strong>
        <span show-if="Model.Emphasize" class="glyphicon glyphicon-exclamation-sign"></span>
    </label>
    <span show-if="Model.Required"><em>(required)</em></span>
    <div class="consent-description" hide-if-null="@Model.Description">
        <label for="scopes_@Model.Name">@Model.Description</label>
    </div>
</li>