@model IdentityServer4.Quickstart.UI.Device.DeviceAuthorizationViewModel

<div class="page-header">
  <div class="row page-header">
    <div class="col-sm-10">
      @if (Model.ClientLogoUrl != null)
      {
      <div class="client-logo"><img src="@Model.ClientLogoUrl"></div>
      }
      <h1>
        @Model.ClientName
        <small>is requesting your permission</small>
      </h1>
    </div>
  </div>
  <hr />
  @if (Model.ConfirmUserCode)
  {
  <div class="row">
    <div class="col-sm-8">
      <p>
        Please confirm that the authorization request quotes the code: "@Model.UserCode".
      </p>
    </div>
  </div>
  }

  <div class="row">
    <div class="col-sm-8">
      <partial name="_ValidationSummary" />

      <form asp-action="Callback" class="consent-form">
        <input asp-for="UserCode" type="hidden" value="@Model.UserCode" />

        <div>Uncheck the permissions you do not wish to grant.</div>

        @if (Model.IdentityScopes.Any())
        {
        <div class="card my-1 consent-buttons">
          <div class="card-header">
            <span class="glyphicon glyphicon-user"></span>
            Personal Information
          </div>
          <ul class="list-group">
            @foreach (var scope in Model.IdentityScopes)
            {
            <partial name="_ScopeListItem" model="@scope" />
            }
          </ul>
        </div>
        }

        @if (Model.ResourceScopes.Any())
        {
        <div class="card my-2">
          <div class="card-header">
            <span class="glyphicon glyphicon-tasks"></span>
            Application Access
          </div>
          <ul class="list-group">
            @foreach (var scope in Model.ResourceScopes)
            {
            <partial name="_ScopeListItem" model="scope" />
            }
          </ul>
        </div>
        }

        @if (Model.AllowRememberConsent)
        {
        <div class="consent-remember my-4">
          <div class="custom-control custom-checkbox">
            <input type="checkbox" class="custom-control-input consent-scopecheck" asp-for="RememberConsent">
            <label class="custom-control-label" asp-for="RememberConsent"><strong>Remember My Decision</strong></label>
          </div>
        </div>
        }

        <div class="consent-buttons d-flex">
          <button name="button" value="yes" class="btn btn-primary px-2" autofocus>Yes, Allow</button>
          <button name="button" value="no" class="btn btn-link px-2">No, Do Not Allow</button>
          @if (Model.ClientUrl != null)
          {
          <a class="ml-auto px-2 btn btn-default" target="_blank" href="@Model.ClientUrl">
            <span class="glyphicon glyphicon-info-sign"></span>
            <strong>@Model.ClientName</strong>
          </a>
          }
        </div>
      </form>
    </div>
  </div>
</div>